## Python "Hello, World!"

In [1]:
print ("Hello, World!")

Hello, World!

### **Python Reserved Words**
The following list shows the Python keywords. These are reserved words and you cannot use them as constant or variable or any other identifier names. All the Python keywords contain lowercase letters only.
# **and, as,	assert, break,	class,	continue, def, del,	elif, else,	except,	False, finally,	for,	from, global,	if,	import, in,	is,	lambda, None, nonlocal,	not, or,	pass,	raise, return,	True,	try, while,	with,	yield**

# **Python Lines and Indentation**
Python programming provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

In [2]:
if True:
   print ("Answer")
   print ("True")
else:
   print ("Answer")
   print ("False")

Answer
True

# **Memory Address Finder**

In [3]:
a = 10

print(a)
print(id(a))

10
4380254496

# **Variables**

In [4]:
counter = 100          # Creates an integer variable
miles   = 1000.0       # Creates a floating point variable
name    = "Shakib Khan"   # Creates a string variable

print (counter)
print (miles)
print (name)

100
1000.0
Shakib Khan

# **Deleting Variables**

In [5]:
count = 100
print (count)

del count
print (count)

100

NameError: name 'count' is not defined

# **Getting Datatype of Variables**

In [6]:
x = "Khan"
y =  10
z =  10.10

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

# **Type Casting**

In [7]:
x = str(10)    # x will be '10'
y = int(10)    # y will be 10
z = float(10)  # z will be 10.0

print( "x =", x )
print( "y =", y )
print( "z =", z )

x = 10
y = 10
z = 10.0

# **Case sensitivity**

In [8]:
age = 20
Age = 30

print( "age =", age )
print( "Age =", Age )

age = 20
Age = 30

# **Multiple Assignment**

In [9]:
a = b = c = 100

print (a)
print (b)
print (c)

100
100
100

In [10]:
a,b,c = 1,2,"Shakib Khan"

print (a)
print (b)
print (c)

1
2
Shakib Khan

# **Valid variable names**

In [11]:
counter = 100
_count  = 100
name1 = "Saviya"
name2 = "Tithy"
Age  = 20
zara_salary = 100000

print (counter)
print (_count)
print (name1)
print (name2)
print (Age)
print (zara_salary)

100
100
Saviya
Tithy
20
100000

# **Invalid Variable Names**

In [12]:
1counter = 100
$_count  = 100
zara-salary = 100000

print (1counter)
print ($count)
print (zara-salary)

SyntaxError: invalid decimal literal (29130755.py, line 1)

# **Operations**

In [13]:
width = 10
height = 20
area = width*height
perimeter = 2*(width+height)
print ("Area = ", area)
print ("Perimeter = ", perimeter)

Area =  200
Perimeter =  60

# **Local Variables**

In [14]:
def sum(x,y):
   sum = x + y
   return sum
print(sum(5, 10))

15

# **Global Variables**

In [15]:
x = 5
y = 10
def sum():
   sum = x + y
   return sum
print(sum())

15

# **Data Type**
numeric datatype

In [17]:
var1 = 1       # int data type
var2 = True    # bool data type
var3 = 10.023  # float data type
var4 = 10+3j   # complex data type
type(var4)

complex

In [18]:
# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
c=20.345
print("The type of variable having value", c, " is ", type(c))

# complex variable.
d=10+3j
print("The type of variable having value", d, " is ", type(d))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

# **String DataType**

In [19]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

# **List DataType**

In [20]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd 
print (list[2:])        # Prints elements starting from 3rd element
print (tinylist * 2)    # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

# **Tuple DataType**

In [21]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

# **Range DataType**

In [22]:
for i in range(5):
  print(i)

0
1
2
3
4

In [23]:
for i in range(2, 5):
  print(i)

2
3
4

**print the number starting from 1 but with an increment of 2 instead of 1**

In [24]:
for i in range(1, 5, 2):
  print(i)

1
3

# **Binary DataType**

# **Bytes data**

In [25]:
# Using bytes() function to create bytes
b1 = bytes([65, 66, 67, 68, 69])  
print(b1)

b'ABCDE'

In [26]:
# Using prefix 'b' to create bytes
b2 = b'Hello'  
print(b2)

b'Hello'

# **Bytearray DataType**

In [27]:
# Creating a bytearray from an iterable of integers
value = bytearray([72, 101, 108, 108, 111])  
print(value)

bytearray(b'Hello')

In [28]:
# Creating a bytearray by encoding a string
val = bytearray("Hello", 'utf-8')  
print(val)

bytearray(b'Hello')

# **Memory View DataType**

In [29]:
data = bytearray(b'Hello, world!')
view = memoryview(data)
print(view)

<memory at 0x10784bdc0>